-
  var eventSpeakers = [
    {photo: 'kseniya_konovalova', name: 'Ксения <br> Коновалова', position: 'Руководитель технических проектов', job: 'Digital Security', city: 'Москва', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'},
    {photo: 'vladimir_sannikov', name: 'Владимир <br> Санников', position: 'Руководитель группы разработчиков', job: 'Yandex', city: 'Москва', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'},
    {photo: 'anton_kastritskiy', name: 'Антон <br> Кастрицкий', position: 'frontend-architect', job: 'Банк «Точка»', city: 'Томск', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'},
    {photo: 'tatayana_noskova', name: 'Татьяна <br> Носкова', position: 'Разработчик интерфейсов', job: 'AGIMA', city: 'Ижевск', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'},
    {photo: 'natalya_gabitova', name: 'Наталья <br> Габитова', position: 'Ведущий креативный <br> frontend-разработчик', job: 'Digital Security', city: 'Санкт-Петербург', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'},
    {photo: 'vladislav_prusov', name: 'Владислав <br> Прусов', position: 'frontend-разработчик', job: 'Талан', city: 'Ижевск', description: 'CJM (Customer Journey Map) — современный метод UX Research и основа основ при разработке любого проекта. Точное представление о сегментах целевой аудитории, её потребностях и сценариях поведения помогает улучшить качество коммуникаций и увеличить продажи.'}
  ];

section.event-speakers
  .container
    h2.event-speakers__title Спикеры
    .event-speakers__wrapper
      +speaker(eventSpeakers)
