include mixins/svg
include mixins/logo
include mixins/hamburger
include mixins/menu
include mixins/feedback
include mixins/social
include mixins/tile
include mixins/pagination
include mixins/speaker
include mixins/card
include mixins/subscribe
include mixins/members
include mixins/app
include mixins/picom
include mixins/browser
include mixins/article
include mixins/history
