mixin app()
  .app&attributes(attributes)
      .app__link
        img.app_image(src='images/google-play.svg' alt='Google Play')
      .app__link
        img.app_image(src='images/app-store.svg' alt='App Store')
