mixin logo(name)
  .logo&attributes(attributes)
    .logo__link
      img.logo__image(src=`images/${name}.svg` alt='Удмуртская Интернет-конференция UIC')
    p.logo__description Удмуртская
      span  интернет-конференция
