mixin pagination()
  ul.pagination&attributes(attributes)
    li.pagination__item.pagination__item--prev
      a.pagination__link(href="#")
        +svg('pagination-arrow')
    li.pagination__item.pagination__item--active
      a.pagination__link(href="#") 1
    li.pagination__item
      a.pagination__link(href="#") 2
    li.pagination__item
      a.pagination__link(href="#") 3
    li.pagination__item.pagination__item--next
      a.pagination__link(href="#")
        +svg('pagination-arrow')

