extends pug/base

prepend vars
  - title = 'UIC – Удмуртская Интернет-конференция. УИК в Ижевске'
  - description = 'UIC или УИК – это Удмуртская Интернет-конференция, проводимая в Ижевске для IT-специалистов. Бизнес семинар Хакатон включает доклады и мастер-классы специалистов ведущих российских IT-компаний, таких как UsabilityLab, Яндекс, E-legion'
  - image = ''

append vars
  - link.icon16x16 = 'images/favicon.ico'

block content
  include pug/header
  include pug/promo
  include pug/events
  include pug/numbers
  include pug/speakers
  include pug/former
  include pug/become-part
  include pug/partners
  include pug/guests
  include pug/footer
