.become-part {
  padding: 70px 0;
  background: url('../images/subscribe-bg.svg') no-repeat 90% 62%;

  &__wrapper {
    max-width: 460px;
  }

  &__title {
    margin-bottom: 46px;
    font-size: 28px;
    line-height: 140%;
  }

  &__subscribe {
    margin-bottom: 27px;
  }

  &__link {
    padding-bottom: 4px;
    line-height: 172%;
    color: $color-contessa;
    border-bottom: 1px solid $color-contessa;
    text-decoration: none;
  }
}
