@import "browser";

.ticket {
  padding: 27px 0 30px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 67px 49px 67px 49px;
    height: 565px;
    border: 1px solid $color-cod-gray;
    border-top: none;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    width: 550px;
  }

  &__list {
    margin-top: auto;
    margin-bottom: 73px;

    &-item {
      margin-bottom: 15px;
      padding-left: 36px;
      line-height: 172%;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
      }

      &--round::before {
        top: 5px;
        left: 4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $color-green-haze;
      }

      &--date {
        letter-spacing: 0.03em;

        span {
          display: inline-block;
          position: relative;
          margin-left: 36px;

          &::before {
            content: "";
            position: absolute;
            top: 6px;
            left: -19px;
            width: 1px;
            height: 15px;
            background: $color-cod-gray;
            transform: rotate(21deg);
          }
        }
      }

      &--date::before {
        top: 1px;
        left: 0;
        width: 24px;
        height: 24px;
        background: url('../images/calendar.svg') no-repeat center;
      }

      &--point::before {
        top: 1px;
        left: 0;
        width: 24px;
        height: 24px;
        background: url('../images/location.svg') no-repeat center;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__button {
    margin-right: 48px;
    padding: 0 21px;
  }

  &__amount {
    font-weight: 600;
    font-size: 20px;
    line-height: 144%;
  }

  &__image {
    max-width: 100%;

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__question {
    margin-bottom: 15px;

    &-phone {
      color: $color-contessa;
      text-decoration: none;
      letter-spacing: 0.07em;
    }
  }
}
