// stylelint-disable scss/dollar-variable-empty-line-before

$color-black: #000;
$color-white: #fff;

$color-cod-gray: #1e1e1e;
$color-butter-cup: #f59a0a;

$color-rose-white: #fff7f7;
$color-contessa: #bf6969;
$color-vista-white: #f9f0ef;

$color-azure-radiance: #0a8bf5;
$color-electric-violet: #aa0af5;
$color-green-haze: #07ab5b;

// FONTS

$RFTone: "RFTone", sans-serif;

